@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Urbanist:ital,wght@0,100..900;1,100..900&family=Young+Serif&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Splash:wght@400;500;600;700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Monomaniac+One&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Jersey+25&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');  
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import './style/fonts.css';
@tailwind base;
@tailwind components;
@tailwind utilities;
:root{
  --hh-h1-letter-spacing: 0.96px;
  --hh-h2-letter-spacing: 0.88px;
  --hh-h3-letter-spacing: 0.8px;
  --hh-h4-letter-spacing: 0.64px;
  --hh-h5-letter-spacing: 0.48px;
  --hh-h6-letter-spacing: 0.72px;
}
h1{
  letter-spacing:  var(--hh-h1-letter-spacing);
}
h2{
  letter-spacing: var(--hh-h2-letter-spacing);
}
h3{
  letter-spacing:  var(--hh-h3-letter-spacing);
}
h4{
  letter-spacing: var(--hh-h4-letter-spacing);
}
h5{
  letter-spacing:  var(--hh-h5-letter-spacing);
}
h6{
  letter-spacing: var(--hh-h6-letter-spacing);
}
.bg-glass {
  background-color: rgba(255, 255, 255, 0.2); /* White with 20% opacity */
  backdrop-filter: blur(10px); /* Frosted glass blur effect */
  -webkit-backdrop-filter: blur(10px); /* Safari support */
  border: 1px solid rgba(255, 255, 255, 0.3); /* Optional border for a glassy outline */
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* For Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

.icon-size{
  height: 32px !important;
}

.icon-container{
  display: none !important;
  position: absolute !important;
  bottom: 24px !important;
  display: flex !important;
  flex-direction: row !important;
  justify-content: center !important;
  align-items: center !important;
  gap: 48px !important;
}

.remove-scroll::-webkit-scrollbar{
  display: none;
}
.remove-scroll {
  overflow: -moz-scrollbars-none; /* Hides the scrollbar */
}


